@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root{
  --violet : #4E1365;
  --bg-theme: #ffffff;
  --bg-foreground: #15132C;
  --color-black: #141414;
}

@theme {
  --color-black: #141414;
}

@custom-variant dark {
  :root.dark & { 
  
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
